@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-neutral-700;
		@apply text-neutral-200;
		font-family: 'Raleway', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
}
